# Iris Species

Here we will make a study of the classic dataset Iris Species.

It is an original work of A. Fisher's from 1936 called: 'The use of multiple measures in taxonomic problems'.

The columns in this dataset are:

Id:

SepalLengthCm

SepalWidthCm

PetalLengthCm

PetalWidthCm

Species

In [3]:
# packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# loading dataset iris
df = pd.read_csv('datasets/Iris.csv')

In [9]:
# see first 10 entries
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [26]:
# variable list
var = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']

# summary for each variable by group
report = []
for i in var:
    report = df[[i, 'Species']].groupby('Species').describe()
    print(report)

                SepalLengthCm
                        count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa              50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor          50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9
                SepalWidthCm
                       count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa             50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor         50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica          50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8
                PetalLengthCm
                        count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa              50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor          50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica           50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9
                PetalWidthCm
                       count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa             50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor         50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica          50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

Id
SepalLengthCm
SepalWidthCm
PetalLengthCm
PetalWidthCm
Species

[None, None, None, None, None, None]